---
title: Stichting Falderie
layout: front
permalink: /
---
{% include carousel.html height="50" unit="%" duration="7" %}
{% include header.html %}
<a id="modal-link-concert" class="hidden btn btn-primary btn-lg" data-toggle="modal" data-target="#concert-modal"><span class="glyphicon glyphicon-play-circle"></span> concert</a>
{% include modal.html id='concert' title='Uitnodiging verwenconcert op 30 november 2024' body='modals/concert-30-11-24.html' %}

{% include verwenconcert.html %}
{% include doneren.html %}



<script type="text/javascript">
window.onload = function(){

	$(document).ready(function(){
		$("#bs-example-navbar-collapse-1 li").removeClass('active');
		$("#bs-example-navbar-collapse-1 li#home").addClass('active');
		// Activate this line below to activate modal
		$( "#modal-link-concert" ).trigger( "click" );
  		//$('#concert-modal').modal('show');

	})
};
</script>
