
<p style="color:black">
Op 16 september is het volgende verwenconcert.
</p>

<img class="img-responsive" src="../img/20230916%20Verwenconcert%20aankondiging.jpg">

<p style="color:black">
Aanmelden voor concert kan via <a href="https://forms.gle/S8Ef1z1WJeVvVddm9"> https://forms.gle/S8Ef1z1WJeVvVddm9 </a> of met de QR-code die op de poster staat. 
</p>

<p style="color:black">
De volgende datum van het verwenconcert is 18 november om 14 uur op Nifterlake, Hoeksewaard 149 te Amstelveen.
</p>
<div class="embed-responsive embed-responsive-16by9"></div>
