
<p style="color:black">
Op 10 juni hoopt Hanna Marieke jullie weer te verwennen met een mooi concert! 
Hanna Marieke (zang & piano) deelt het podium met Paul van der Feen (saxofoon), Ruben Bekx (contrabas) en Timo Menkveld (drums).
</p>

<p style="color:black">
Zij brengen een mooie mix van jazz en verhalen. 
Jullie zijn van harte welkom op 10 juni om 14 uur bij Nifterlake, Hoeksewaard 149 te Amstelveen. 
</p>

<p style="color:black">
Aanmelden voor dit gratis concert kan tot uiterlijk dinsdag 6 juni via <a href="https://forms.gle/4sNMA3Ars1GEZdeF8"> https://forms.gle/4sNMA3Ars1GEZdeF8 </a> of met de QR-code die op de poster staat. 
</p>

<p style="color:black">
De volgende datum van het verwenconcert is zaterdag 16 september, zelfde tijd en plaats. 
Heel graag tot 10 juni!
</p>
<div class="embed-responsive embed-responsive-16by9"></div>