<section id="agenda" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Agenda</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-diamond wow bounceIn"></i>
                    <h3>Verwenconcert 1 juni 2024</h3>
                
<img class="img-responsive" src="../assets/20240601-Verwenconcert-aankondiging.jpg">

<p style="color:black">
Na het drukbezochte verwenconcert van 9 maart staat het volgende verwenconcert alweer voor de deur. Jullie zijn van harte welkom op 1 juni om 14 uur bij Nifterlake, Hoeksewaard 149 te Amstelveen. 
Het belooft weer een fantastisch concert te worden met Arturo den Hartog (countertenor) & Mattias Spee (piano) en Anna May (zang & dwarsfluit) & Evan van der Feen (piano). Ook Henk-Willem Laan (directeur van het Gehandicapte Kind) zal zijn medewerking verlenen. 
Aanmelden voor dit gratis concert kan tot uiterlijk dinsdag 28 mei via <a target="_blank" href="https://forms.gle/aptvStNtzh7LHUxVA">https://forms.gle/aptvStNtzh7LHUxVA</a>. Hierin kun je ook aangeven dat je taxivervoer nodig hebt, mocht je zelf geen vervoer hebben van en naar Nifterlake. Wees er snel bij, want de vorige keer was er een wachtlijst omdat we vol zaten... 
Heel graag tot 1 juni!
</p>

<p><br/></p>
                  <p></p>
            </div>
        </div>
    </div>
</section>
