<section id="agenda" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Agenda</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-diamond wow bounceIn"></i>
                    <h3>Verwenconcert 30 november 2024</h3>
                
<img class="img-responsive" src="../assets/verwenconcert-30-11-2024.jpg">

<p style="color:black">
Het laatste verwenconcert van 2024 staat alweer voor de deur. Jullie zijn van harte welkom op 30 november om 14 uur bij Nifterlake, Hoeksewaard 149 te Amstelveen. 
Het belooft weer een fantastisch concert te worden met de duo's Klaartje van Veldhoven (sopraan) & Bram de Vree (piano) en Efraïm Trujillo (saxofoon) & Rembrandt Frerichs (piano).
Aanmelden voor dit gratis concert kan tot uiterlijk dinsdag 26 november via <a href="https://forms.gle/sARznh9m84GVE1jv6">https://forms.gle/sARznh9m84GVE1jv6</a>. Hierin kun je ook aangeven dat je taxivervoer nodig hebt, mocht je zelf geen vervoer hebben van en naar Nifterlake. Heel graag tot 30 november!<br/>
P.S.2. De livestream van het nieuwjaarsconcert gemist? Kijk deze onbeperkt terug via <a href="https://youtube.com/live/5vRHKuzF8_g?feature=share">https://youtube.com/live/5vRHKuzF8_g?feature=share</a>
</p>

<p><br/></p>
                  <p></p>
            </div>
        </div>
    </div>
</section>
