<section id="overons" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Onze financiën en ANBI</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn " data-wow-delay=".1s"></i>
                    <p><strong>Beloningsbeleid:</strong></p>
                    <p >
                        Voor de livestreams en de fysieke Verwenconcerten 
                        nodigen wij professionele musici uit (klassieke en lichte muziek). 
                        Ons beleid is om de musici marktconform te betalen. 
                        De bestuursleden ontvangen geen vergoeding voor hun werkzaamheden. 
                    </p>
                    <p >
                        Wij bekostigen de concerten middels opbrengsten in het kader van de collecteweek van HandicapNL, 
                        bijdragen van de Omega Ouderraad, de Stichting Vrienden van Omega, donaties, crowdfunding en fondsenwerving.
                        Sinds 2021 hebben wij de ANBI-status. Ons RSIN is 861713394.                    
                    </p>
                    <h3><strong>Onze statutaire doelstelling:</strong></h3>
                    <h2>Artikel 2 - Doel 1.</h2> 
                    <p >
                        Uitgaande van het inzicht dat muziek mensen verbindt en bijdraagt aan het welzijn van eenieder, 
                        met of zonder beperking, heeft de stichting als doel om mensen met een beperking de kracht van 
                        muziek te ervaren, middels het regelmatig (laten) organiseren van zogenoemde verwenconcerten in 
                        hun eigen woonomgeving of dagbesteding. Wij stellen daarom dit beleidsplan op en voeren dit uit, 
                        zodat we onze doelstelling kunnen bereiken.
                    </p>
                    <p >
                         Klik <a target="_blank" href="/stichtingfalderie.github.io/assets/VASTGESTELD-BELEIDSPLAN-2024-STICHTING-FALDERIE.pdf">hier</a> voor de hoofdlijnen van ons beleidsplan in 2024.
                    </p>
                    <p >
                         <a target="_blank" href="/stichtingfalderie.github.io/assets/Jaarverslag-Stichting-Falderie-2023.pdf">
                         - Jaarverslag 2023</a>
                    </p>
                    <p >
                         <a target="_blank" href="/stichtingfalderie.github.io/assets/Jaarrekening-2023-van-de-Stichting-Falderie.pdf">
                         - Jaarrekening 2023</a> en <a target="_blank" href="/stichtingfalderie.github.io/assets/Korte-toelichting-bij-de-jaarrekening-2023-van-de-Stichting-Falderie.pdf">toelichting</a>
                    </p>

                     <p >
                         <a target="_blank" href="/stichtingfalderie.github.io/assets/report_2022/Definitief%20JAARVERSLAG%202022%20STICHTING%20FALDERIE_compressed.pdf">
                         - Jaarverslag 2022</a>
                    </p>
                    <p >
                         <a target="_blank" href="/stichtingfalderie.github.io/assets/report_2022/Exploitatierekening%20en%20Balans%20van%20de%20Stichting%20Falderie%20van%20het%20jaar%202022.pdf">
                         - Jaarrekening 2022</a> en <a target="_blank" href="/stichtingfalderie.github.io/assets/report_2022/Toelichting%20jaarrekening%202022.pdf">toelichting</a>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
