<section id="doneren">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Doneren</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Falderie streeft naar een billijke marktconforme betaling van de betrokken musici. </h3>
                    <h3>
                      Kwaliteit mag immers wat kosten. 
                      Wij bekostigen de verwenconcerten middels opbrengsten in het kader van de collecteweek van HandicapNL, bijdragen van de Omega Ouderraad, de Stichting Vrienden van Omega, donaties, crowdfunding en fondsenwerving. 
                    </h3>
                    <h3>
                      Donaties zijn welkom! Deze kunnen overgemaakt worden op NL 63 RBRB 0205 0252 77 t.a.v. Stichting Falderie te Leiden. 
                      Hartelijk dank voor uw donatie!
                    </h3>
                    <a target="_blank" href="https://paymentlink.mollie.com/payment/OBoMg6MUFKYYewvtFGgSf/"><img src="/img/qrCode.jpg" alt="qrcode" width="200" height="200"></a>
                    <a target="_blank" href="https://paymentlink.mollie.com/payment/OBoMg6MUFKYYewvtFGgSf/" class="btn btn-default btn-xl"> <img src="/img/payment_003-ideal-512.webp" style="width: 50px;" /> <span>Doneer via Ideal</span> </a>
                </div>
            </div>
        </div>
    </div>
</section>
