<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welkom op de website van Stichting Falderie!</h1>
            <hr>
            <p>Falderie is een groep van muziekliefhebbers. Wij organiseren verwenconcerten voor mensen met een beperking in hun eigen omgeving. Om te beginnen voor kinderen met een beperking en hun familie. Bij Falderie komen muzikanten naar de eigen woonomgeving of dagbesteding. Waar gewenst en mogelijk treden muzikanten op bij mensen thuis (altijd met inachtneming van Coronarichtlijnen en -maatregelen van de overheid.).</p>
            <a href="#verwenconcert" class="btn btn-primary btn-xl page-scroll">Meer</a>
        </div>
    </div>
</header>
