<section  id="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Waarom een verwenconcert?</h1>
                <hr />
                <hr class="light">
                <p >Wat er tijdens zo’n concert gebeurt is heel bijzonder. Sommige kinderen gaan dansen en bewegen. Een ander die de hele dag alleen maar lijkt te slapen doet opeens de ogen open en wordt alert. Hartverwarmend zijn de reacties. Je ziet onmiddellijk de kracht van muziek. Muziek verbindt mensen met elkaar, hoe verschillend ook. Muziek is belangrijk voor het welzijn van eenieder, met of zonder beperking.</p>
                <p >Op 22/11 ging de eerste livestream van het verwenconcert in première. Stuur een mail naar <a class="email_white" target="_blank" href="mailto:stichtingfalderie@gmail.com">stichtingfalderie@gmail.com</a>  als u de link wilt ontvangen. U kunt deze opvragen als u een persoon met een beperking bent of zijn/haar ouder/verzorger. Ook (potentiële) donateurs kunnen hiernaar vragen.</p>

                <p >Crowdfunding voor verwenconcert 19 februari 2019: Erica Roozendaal (acoordeon).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4tVchtSYhWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Pilot verwenconcert (stream): Henk Kraaijeveld (zang) en David Golek (gitaar).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L224cphiwaY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Verwenconcert #1 (stream): Paul van der Feen (saxofoon) en Mark van der Feen (piano).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/H6wl81fCyb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Verwenconcert #2 (stream): Matthijs Koene (panfluit) en Tobias Borsboom (piano).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/THYrmuq8P2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Verwenconcert #3 (stream): Carla Leurs (viool) en Antony Hermus (piano).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/tOSXlLeBaZA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Verwenconcert #4 (stream): Marle Thomson (zang, gitaar en ukelele) en Hugo den Oudsten (basgitaar).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mMyxepaoExU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Verwenconcert #5 (stream): Yukiko Hasegawa & Tobias Borsboom (piano quatre mains).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aGNmElNT_8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Verwenconcert #6 (stream): Elbert Smelt (zang en blaasinstrumenten) & Johan Smelt (gitaar en charrango) van de band Trinity.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qGqqq4f7gUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Nieuwjaarsverwenconcert #7 (stream): Feenbrothers: Paul van der Feen (saxofoon), Clemens van der Feen (contrabas/zang), Mark van der Feen (piano) en Matthijs van der Feen (drums) + verrassingsoptreden door Hanna Marieke (zang) .</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xACqqh5LYfc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Verwenconcert 19 februari 2019: Marle Thomson (zang/gitaar), Paul van der Feen (saxofoon), Matthijs Koene (panfluit) en Jurriaan Berger (piano/basgitaar).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0PICxqk-Nj8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
                <p >Verwenconcert 12 december 2021: Talitha van der Spek (zang), Erica Roozendaal (accordeon), Anna May van der Feen (zang/dwarsfluit) en Mark van der Feen (piano).</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Et9WpfAlKNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
</section>