<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/" style="width: 310px;"> 
                <img src="/img/logo_simple.png" alt="logo" width="50" height="50" style="display: inline;">
                <img src="/img/logo_text.png" alt="logo" width="200" height="50" style="display: inline;">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="home">
                    <a class="page-scroll" href="/">Home</a>
                </li>
                <li id="doneren">
                    <a class="page-scroll doneren" href="/doneren">Doneren</a>
                </li>
                <li id="overons">
                    <a class="page-scroll" href="/overons">Over ons</a>
                </li>
                <li id="onsbestuur">
                    <a class="page-scroll" href="/onsbestuur">Ons bestuur</a>
                </li>
                <li id="beloningsbeleid">
                    <a class="page-scroll" href="/beloningsbeleid">ANBI-informatie</a>
                </li>
                <li id="media">
                    <a class="page-scroll" href="/media">Media</a>
                </li>
                <li id="contact_">
                    <a class="page-scroll" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
