<section class="bg-primary" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ons bestuur</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <h3>Emile Pieters</h3>
                    <img src="../img/onzestichting/image2.jpg" alt="Emile Pieters" width="200" height="250">
                    <figcaption><i>Voorzitter</i></figcaption>
                    <p class="text-faded">Emile Pieters (70), voorzitter van het bestuur van Stichting Falderie. Ik ben muziekliefhebber en speel in een band bluesharp, cajon en drums.</p>
                    <p class="text-faded">Ik woon samen met Janny in Amsterdam, ben gepensioneerd en heb klinische psychologie gestudeerd. Vanaf 1974 heb ik gewerkt op het gebied van jeugdhulpverlening, hoger beroepsonderwijs geestelijke gezondheidszorg, management en bestuur.</p>
                    <p class="text-faded">Sinds kort ook lid van Raad van Toezicht van de Stichting Eigen Kracht Voer. Behalve muziek en besturen houd ik mij graag bezig met fietsen, kamperen en concertbezoek (nu door corona even niet). Verder best reislustig, natuurliefhebber en thuiskok. Sowieso levensgenieter.</p>
                    
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <h3>Clarie Groenleer</h3>
                    <img src="../img/onzestichting/image1.jpg" alt="Clarie Groenleer" width="200" height="150">
                    <figcaption><i>Penningmeester</i></figcaption>
                    <p class="text-faded">Mijn naam is Clarie Groenleer.  In het bestuur van Falderie mag ik de penningen beheren. Dat is een nieuwe uitdaging voor mij. Wij kunnen alleen met gegeven geld onze doelen bereiken. Daar ga ik voor!</p>
                    <p class="text-faded">Wat was ik verrast toen mij werd gevraagd of ik deel wil uitmaken van een stichting die verwenconcerten organiseert voor mensen met een ernstige beperking. Juist vorig jaar nam ik afscheid van een organisatie die vakantieweken organiseert voor senioren met een lichamelijke beperking. Wat een leuke opvolging: van vakantie naar muziek!</p>
                    <p class="text-faded">Muziek maakt deel uit van mijn leven, evenals vrijwilligerswerk. Lang nadenken was niet nodig→ wat is het mooi om iets te mogen doen voor mensen die op allerlei gebied afhankelijk zijn van hulp. Blij maken met muziek, dat geeft plezier, maar ook troost.</p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <h3>Manon Zuidgeest</h3>
                    <img src="../img/onzestichting/image3.png" alt="Manon Zuidgeest" width="200" height="250">
                    <figcaption><i>Algemeen bestuurslid</i></figcaption>
                    <p class="text-faded">Hi, ik ben Manon en werkzaam als muziektherapeut in de zorg. Ik werk met kinderen en volwassenen met een (zeer) ernstige meervoudige beperking. Elke keer weer als ik muziek maak zie ik de impact die het heeft; klanken toveren een glimlach op de gezichten van deze kinderen en volwassenen. Muziek leidt tot plezier, tot ontspanning, tot verwondering en contact. En dat is precies de reden waarom ik mij wil inzetten voor Stichting Falderie!</p>
                </div>
            </div>
        </div>
    </div>
</section>
