<section id="overons">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Over ons</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Hoe het begon</h3>
                    <p class="text-muted">In februari 2019 organiseerden Rienk en Hanna Blom een concert voor mensen met een meervoudige beperking en hun familie bij Omega. Dat is een dagcentrum voor meervoudig complex gehandicapte kinderen en volwassenen in Amsterdam. Rienk en Hanna hebben zelf een gehandicapte dochter, Jasmijn. Zij geniet enorm van muziek, zoals in het filmpje hieronder te zien is.</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/4tVchtSYhWs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p>Het evenement op Omega sloeg geweldig aan bij de deelnemers. Kijk hieronder naar een filmverslag van het eerste verwenconcert met medewerking van Jurriaan Berger, Marle Thomson, Matthijs Koene en Paul van der Feen.</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/0PICxqk-Nj8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top:25px;">
                <div class="">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Onze Stichting</h3>
                    <p class="text-muted">Om regelmatig verwenconcerten mogelijk te maken hebben we medio 2020 de Stichting Falderie opgericht. Het bestuur bestaat uit Emile Pieters, Clarie Groenleer en Manon Zuidgeest. Meewerkende adviseurs zijn Hanna Blom en Sander Zwiep.</p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Ons Netwerk</h3>
                    <p class="text-muted">Wij kunnen een beroep doen op een pool van ervaren musici (klassiek, jazz, folk, pop etc.). Bij de organisatie van de concerten worden we geholpen door vrijwilligers. 
De Ouderraad van Omega en de Stichting Vrienden van Omega ondersteunen onze concerten met raad en daad. 
Bij het eerste verwenconcert (2019) was Disability Studies in Nederland betrokken.
Wij werken samen met dagcentrum Omega en Woon-en logeerhuis Marius Meijboom.</p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Onze financiën</h3>
                    <p class="text-muted">Falderie streeft naar een billijke, marktconforme betaling van de betrokken musici. Wij bekostigen de concerten middels opbrengsten in het kader van de collecteweek van HandicapNL, bijdragen van de Omega Ouderraad, de Stichting Vrienden van Omega, donaties, crowdfunding en fondsenwerving.
 Donaties zijn welkom! Deze kunnen overgemaakt worden op NL 63 RBRB 0205 0252 77 t.a.v. Stichting Falderie te Leiden. Hartelijk dank voor uw donatie!</p>
                </div>
            </div>
        </div>
    </div>
</section>
