<section id="overons" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Over ons</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-diamond wow bounceIn"></i>
                    <h3>Hoe het begon</h3>
                    <p >In februari 2019 organiseerden Rienk en Hanna Blom een concert voor mensen met een meervoudige beperking en hun familie bij Omega. Dat is een dagcentrum voor meervoudig complex gehandicapte kinderen en volwassenen in Amsterdam. Rienk en Hanna hebben zelf een gehandicapte dochter, Jasmijn. Zij geniet enorm van muziek, zoals in het filmpje hieronder te zien is.</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/4tVchtSYhWs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p>Het evenement op Omega sloeg geweldig aan bij de deelnemers. Kijk hieronder naar een filmverslag van het eerste verwenconcert met medewerking van Jurriaan Berger, Marle Thomson, Matthijs Koene en Paul van der Feen.</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/0PICxqk-Nj8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top:25px;">
                <div class="">
                    <i class="fa fa-4x fa-heart wow bounceIn " data-wow-delay=".3s"></i>
                    <h3>Onze Stichting</h3>
                    <p >Om regelmatig verwenconcerten mogelijk te maken hebben we medio 2020 de Stichting Falderie opgericht. Het bestuur bestaat uit Emile Pieters, Clarie Groenleer en Manon Zuidgeest. Meewerkend adviseur is Hanna Blom.</p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn " data-wow-delay=".2s"></i>
                    <h3>Ons Netwerk</h3>
                    <p >Wij kunnen een beroep doen op een pool van ervaren musici (klassiek, jazz, folk, pop etc.). Bij de organisatie van de concerten worden we geholpen door vrijwilligers. 
De Ouderraad van Omega en de Stichting Vrienden van Omega ondersteunen onze concerten met raad en daad. 
Bij het eerste verwenconcert (2019) was Disability Studies in Nederland betrokken.
Wij werken samen met dagcentrum Omega en Woon-en logeerhuis Marius Meijboom.</p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn " data-wow-delay=".1s"></i>
                    <h3>Onze financiën en ANBI</h3>
                    <strong>Beloningsbeleid:</strong>
                    <p >
                        Voor de livestreams en de fysieke Verwenconcerten 
                        nodigen wij professionele musici uit (klassieke en lichte muziek). 
                        Ons beleid is om de musici marktconform te betalen. 
                        De bestuursleden ontvangen geen vergoeding voor hun werkzaamheden. 
                    </p>
                    <p >
                        Wij bekostigen de concerten middels opbrengsten in het kader van de collecteweek van HandicapNL, 
                        bijdragen van de Omega Ouderraad, de Stichting Vrienden van Omega, donaties, crowdfunding en fondsenwerving.
                        Sinds 2021 hebben wij de ANBI-status. Ons RSIN is 861713394.                    
                    </p>
                    <h3>Onze statutaire doelstelling:</h3>
                    <h2>Artikel 2 - Doel 1.</h2> 
                    <p >
                        Uitgaande van het inzicht dat muziek mensen verbindt en bijdraagt aan het welzijn van eenieder, 
                        met of zonder beperking, heeft de stichting als doel om mensen met een beperking de kracht van 
                        muziek te ervaren, middels het regelmatig (laten) organiseren van zogenoemde verwenconcerten in 
                        hun eigen woonomgeving of dagbesteding. Wij stellen daarom dit beleidsplan op en voeren dit uit, 
                        zodat we onze doelstelling kunnen bereiken.
                    </p>
                    <p >
                         Klik <a target="_blank" href="{{ site.url }}assets/Hoofdlijnen_Beleidsplan_Stichting_Falderie_2021.pdf">hier</a> voor de hoofdlijnen van ons beleidsplan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
