<section class="bg-primary" id="verwenconcert">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Waarom een verwenconcert?</h2>
                <hr class="light">
                <p class="text-faded">Wat er tijdens zo’n concert gebeurt is heel bijzonder. Sommige kinderen gaan dansen en bewegen. Een ander die de hele dag alleen maar lijkt te slapen doet opeens de ogen open en wordt alert. Hartverwarmend zijn de reacties. Je ziet onmiddellijk de kracht van muziek. Muziek verbindt mensen met elkaar, hoe verschillend ook. Muziek is belangrijk voor het welzijn van eenieder, met of zonder beperking.</p>
                <p class="text-faded">Kijk hieronder naar de teaser van het verwenconcert met daarin de tune van Stichting Falderie, gespeeld door Matthias Havinga.</p>
                <iframe width="100%" height="315" src="https://youtu.be/embed/L224cphiwaY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p><strong>Doneerknop?</strong></p>
                <a target="_blank" href="https://www.facebook.com/stichtingfalderie" class="btn btn-default btn-xl"> stichtingfalderie </a>
            </div>
        </div>
    </div>
      {% include carousel.html height="27" unit="%" duration="7" %}

</section>
