<section class="bg-primary" id="verwenconcert">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Waarom een verwenconcert?</h2>
                <hr class="light">
                <p class="text-faded">
                Tijdens de verwenconcerten wordt duidelijk wat de kracht van muziek is; er wordt samen beleefd, door groot en klein. Kinderen zingen mee, klappen, lopen of kruipen door de ruimte. Ouders en verzorgers lachen en genieten. Alles mag. Zin om te dansen? Lekker doen. Wil je direct naast de musici zitten? Ook dat mag. Muziek werkt verbindend en draagt bij aan het welzijn van eenieder, met of zonder beperking. Onze musici dragen hier graag een muzikaal steentje aan bij. Ze zijn niet alleen erg goed met hun instrument of stem, ze stemmen af op het publiek en geven iedereen een welkom gevoel.
                </p>
                <!--
                <p class="text-faded">Op 22/11 ging de eerste livestream van het verwenconcert in première. Stuur een mail naar <a class="email_white" target="_blank" href="mailto:stichtingfalderie@gmail.com">stichtingfalderie@gmail.com</a>  als u de link wilt ontvangen. U kunt deze opvragen als u een persoon met een beperking bent of zijn/haar ouder/verzorger. Ook (potentiële) donateurs kunnen hiernaar vragen.</p>
                <p class="text-faded">Kijk hieronder naar de teasers van de verwenconcerten met daarin de tune van Stichting Falderie, gespeeld door Matthias Havinga.</p>
                -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SGBSiiRqtZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <!--
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tOSXlLeBaZA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                -->
            </div>
        </div>
    </div>
</section>
