<section class="bg-primary" id="verwenconcert">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Waarom een verwenconcert?</h2>
                <hr class="light">
                <p class="text-faded">Wat er tijdens zo’n concert gebeurt is heel bijzonder. Sommige kinderen gaan dansen en bewegen. Een ander die de hele dag alleen maar lijkt te slapen doet opeens de ogen open en wordt alert. Hartverwarmend zijn de reacties. Je ziet onmiddellijk de kracht van muziek. Muziek verbindt mensen met elkaar, hoe verschillend ook. Muziek is belangrijk voor het welzijn van eenieder, met of zonder beperking.</p>
                <p class="text-faded">Kijk hieronder naar een filmverslag van het eerste verwenconcert in februari 2019, met medewerking van Jurriaan Berger, Marle Thomson, Matthijs Koene en Paul van der Feen.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0PICxqk-Nj8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p><strong>Doneerknop?</strong></p>
                <a target="_blank" href="https://www.facebook.com/stichtingfalderie" class="btn btn-default btn-xl"> stichtingfalderie </a>
            </div>
        </div>
    </div>
      {% include carousel.html height="50" unit="%" duration="7" %}

</section>
