<img class="img-responsive" src="../assets/verwenconcert-30-11-2024.jpg">

<p style="color:black">Het laatste verwenconcert van 2024 staat alweer voor de deur. Jullie zijn van harte welkom op 30 november om 14 uur bij Nifterlake, Hoeksewaard 149 te Amstelveen. 
Het belooft weer een fantastisch concert te worden met de duo's Klaartje van Veldhoven (sopraan) & Bram de Vree (piano) en Efraïm Trujillo (saxofoon) & Rembrandt Frerichs (piano).
Aanmelden voor dit gratis concert kan tot uiterlijk dinsdag 26 november via <a href="https://forms.gle/sARznh9m84GVE1jv6"> https://forms.gle/sARznh9m84GVE1jv6</a>. Hierin kun je ook aangeven dat je taxivervoer nodig hebt, mocht je zelf geen vervoer hebben van en naar Nifterlake.
</p>
<p><br/></p>
<div class="embed-responsive embed-responsive-16by9"></div>
